{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="row form-task">
        {{ form_start(form, {'action' : path('task_edit', { 'id' : task.id })}) }}
        <div class="input">
            {{ form_row(form.title) }}
        </div>
        <div class="input">
            {{ form_row(form.content) }}
        </div>
        <div class="input">
            {{ form_row(form.isDone) }}
        </div>
        <div class="btn-form-task">
        <button type="submit" class="btn btn-success pull-right">Modifier</button>
            <a href="{{ path('task_list') }}" class="btn btn-primary">Retour à la liste des tâches</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}